$white: #ffffff;
$primary: #10384a;
$snapBtnShowTime: 1s;

* {
  box-sizing: border-box;
}

html {
  // 重要！AR.js 會搗亂你的 body width，造成莫名的滾動條
  width: 100vw;
  height: 100%;
  overflow: hidden;
  // 重要！AR.js 會搗亂你的 body width，造成莫名的滾動條
}

html,
body {
  margin: 0;
  padding: 0;
  touch-action: manipulation; // prevent Double-tap
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang TC', 'Segoe UI',
    'Noto Sans TC', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial,
    'Source Han Sans TC', sans-serif;
  color: $white;
}

.a-modal {
  color: $primary !important;
}

#loader {
  color: $white;
  font-size: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.hide {
    display: none;
  }
}

// 返回、資訊鈕、關閉資訊 modal 鈕
.back-btn,
.info-btn,
.close-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid $white;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back-btn {
  z-index: 10;
  top: 21px;
  left: 22px;

  .icon {
    width: 24px;
    height: 20px;
  }
}

.info-btn {
  z-index: 8;
  top: 21px;
  right: 22px;

  .icon {
    width: 17px;
    height: 27px;
  }
}

.info-modal {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($color: $primary, $alpha: 0.94);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease, visibility 0.35s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .close-btn {
    top: 21px;
    right: 22px;

    .icon {
      width: 17px;
      height: 17px;
    }

    .close-text {
      position: absolute;
      color: $white;
      line-height: 21px;
      top: 15px;
      right: 65px;
      width: 35px;
    }
  }

  .info-title {
    text-align: center;
    font-size: 20px;
    margin-top: 16vh;
    margin-bottom: 3vh;

    @media screen and (max-height: 630px) {
      display: none;
    }
  }

  .describe-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 327px;
    margin: 0 auto;

    @media screen and (max-height: 630px) {
      margin-top: 90px;
    }

    .describe {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      padding: 31px 9px 0 25px;
      border-bottom: 1px solid $white;

      &:last-child {
        border-bottom: none;
      }

      &__img {
        width: 74px;
        height: 74px;
        margin-right: 43px;
        margin-bottom: 32px;
      }
    }
  }
}

.marker-hint {
  position: fixed;
  z-index: 0;
  width: 63vw;
  left: 18.5vw;
  transform: scale(0.7);
  transform-origin: center;
  bottom: 20vh;
  animation: breathe 2s ease infinite;

  &.hide {
    transition: transform $snapBtnShowTime ease;
    transform: scale(0);
  }
}

@keyframes breathe {
  from {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

// 截圖鈕
#snap-btn {
  position: fixed;
  z-index: 2;
  left: 39px;
  width: calc(100vw - 78px);
  height: 113px;
  border-radius: 60px;
  border: 14px solid $primary;
  bottom: 25px;
  background: rgba($color: $primary, $alpha: 0.5);

  cursor: pointer;
  &:active {
    background-color: rgba($color: $primary, $alpha: 0.8);
  }

  transition: transform $snapBtnShowTime ease, opacity $snapBtnShowTime ease,
    background-color 0.2s ease;
  opacity: 1;
  visibility: visible;
  transform-origin: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .snap-text {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;

    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      margin-right: 21px;
      height: 27px;
    }
  }

  &.hide {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

#snap-modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: scroll;
  text-align: center;

  background-color: $primary;

  // display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease, visibility 0.35s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .result-wrapper {
    position: relative;
    margin: 21px auto 0 auto;
    width: 94vw;
    border-radius: 16px;
    overflow: hidden;

    .result-block {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      border-radius: 16px;

      transition: opacity 0.6s, visibility 0.6s;
      opacity: 1;
      visibility: visible;

      &.hide {
        visibility: hidden;
        opacity: 0;
      }
    }

    .result-loader {
      position: absolute;
      width: 69px;
      height: 69px;
      top: 45%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(0deg);

      transform-origin: center;
      animation: rotate-loader 1.2s ease infinite;
    }
    .result-logo {
      position: absolute;
      width: 77.6%;
      left: 11.2%;
      bottom: 29px;
    }
  }
  .result {
    width: 100%;
    height: 125.33vw;
    background-color: $white;
    border-radius: 16px;
  }

  .press-hint {
    margin: 30px auto 43px auto;
    font-weight: 500;
  }

  .again {
    width: 266px;
    height: 64px;
    border-radius: 25px;
    border: 1px solid $white;
    line-height: 64px;
    font-weight: 500;
    margin: 0 auto;
    cursor: pointer;

    background-image: url('ar/images/again_bg.png');
    background-position: center;
    background-size: cover;
  }

  .hashtag-section {
    padding: 93px 27px 130px 27px;
    background-image: url('ar/images/grid-bg.png');
    background-position: 0% 0%;
    background-size: 138vw;
    background-repeat: no-repeat;
    height: 427px;

    .hashtags {
      padding: 20px 12px;
      background-color: #0c2936;
      position: relative;

      border-radius: 16px;
      height: 204px;

      p {
        margin: 0;
        text-align: left;
        line-height: 25px;
      }

      .copy-btn {
        width: 234px;
        line-height: 64px;
        height: 64px;
        border-radius: 25px;
        background-color: $white;
        color: $primary;
        font-weight: 500;
        position: absolute;
        bottom: -26px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }

      .copy-hint {
        width: 72px;
        height: 33px;
        line-height: 33px;
        background-color: rgba($color: $white, $alpha: 0.83);
        color: $primary;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        opacity: 0;
        visibility: hidden;
        bottom: 25px;
        transition: opacity 0.2s, bottom 0.2s, visibility 0.2s;

        &.show {
          bottom: 50px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .share {
    width: 116px;
    height: 116px;
    margin-top: -27px;
  }

  .share-hint {
    margin: 28px auto 68px auto;
  }

  .back-home {
    width: 266px;
    line-height: 64px;
    height: 64px;
    border-radius: 25px;
    background-color: $white;
    color: $primary;
    font-weight: 500;
    margin: 0 auto 92px auto;
    cursor: pointer;
  }
}

#snap-flash {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: scroll;
  text-align: center;

  background-color: $white;

  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease, visibility 1.5s ease;

  &.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s ease, visibility 0.1s ease;
  }
}

@keyframes rotate-loader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  75% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
